.body {
    width: 175px;
    height: 175px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: #fbeddb;
}
.cat {
    width: 100px;
    height: 100px;
    margin: 20px;
}
.icon {
    width: 25px;
    height: 25px;
    margin: 20px;
    padding: 10px;
    position: absolute;
}
.menuButton {
    width: 20px;
    height: 20px;
    margin: 3px;
}
.musicButton {
    width: 25px;
    height: 25px;
    margin-top: 3px;
    margin-right: 8px;
}
.left {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    text-align: left;
    position: absolute;
}
.right {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
}
.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.introBtn {
    margin: 20px;
    border-style: solid;
    border-radius: 15px;
    border-width: 3px;
    padding: 8px;
    border-color: black;
    color: black;
    background-color: #d99b9b;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}
.introBtn:hover {
    background-color: #F2C7C7;
}
.qbutton {
    border: none;
    border-radius: 20px;
    border-width: 5px;
    color: black;
    font-size: 15px;
    cursor: pointer;
}
.xbutton {
    border: none;
    border-radius: 20px;
    border-width: 5px;
    color: black;
    font-size: 15px;
    cursor: pointer;
}
.background {
    width: 175px;
    height: 175px;
    border-radius: 15px;
}
.new-page {
    padding: 8px;
    justify-content: left;
    align-items: center;
    text-align: left;
    margin-top: 15px;
}
p {
    padding-left: 40px;
    font-size: 13px;
}